<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bread</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <body style="background-color: rgb(251, 216, 252);">
    <center>
        <br><br>
        <button><a href="/drink"  style="color: blueviolet;"> Drink     </a></button>
        <button><a href="/Food" style="color: blueviolet;"> Food       </a> </button> 
        <button><a href="/manu" style="color: blueviolet;"> Manu   </a> </button> 
        <button><a href="/" style="color: blueviolet;"> Logout       </a> </button>     


        <br><br>
    </center>
</head>
<center>
<body>
    <i><ins><h2 style="color:rgb(145, 9, 31)"> Bread </h2><br></ins></i>
    <img src="https://food-images.files.bbci.co.uk/food/recipes/tiktok_breakfast_42301_16x9.jpg" width="250" height="150"><br><br>
    <h4 style="color:rgb(136, 85, 93)"> * Sandwich </h4><br>
    <h4 style="color:rgb(136, 85, 93)"> * Yogurt Pudding </h4><br>
    <h4 style="color:rgb(136, 85, 93)"> * Chocolate Cake </h4><br>
    <h4 style="color:rgb(136, 85, 93)"> * Cheese Cake </h4><br>
    <h4 style="color:rgb(136, 85, 93)"> * Red Velvet Cake </h4><br><br>
    <i><ins><h2 style="color:rgb(145, 9, 31)"> Waffle </h2><br></ins></i>
    <img src="https://storcpdkenticomedia.blob.core.windows.net/media/recipemanagementsystem/media/recipe-media-files/recipes/retail/x17/2020_belgian-style-waffles_16700_760x580.jpg?ext=.jpg" width="250" height="150"><br><br>
    <h4 style="color:rgb(136, 85, 93)"> * Pancake Tower Fruit </h4><br>
    <h4 style="color:rgb(136, 85, 93)"> * Snow Waffle </h4><br>
    <h4 style="color:rgb(136, 85, 93)"> * Waffle Dip Green Tea Custard</h4><br>
</body></body>
</center>
</html>