<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manu</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<body style="background-color: powderblue;">
</head>
<center>
    <br><br>
    <button><a href="/bread" style="color: rgb(5, 71, 33);"> Bread     </a></button> 
    <button><a href="/Food" style="color: rgb(5, 71, 33);"> Food       </a> </button> 
    <button><a href="/manu" style="color: rgb(5, 71, 33);"> Manu   </a> </button> 
    <button><a href="/" style="color: rgb(5, 71, 33);"> Logout       </a> </button>     

    <br><br>
</center>
</head>
<center>
<body>
    <ins><h1 style="color:rgb(255, 7, 48)"> Drink </h1><br></ins>
    <i><h2 style="color:rgb(95, 73, 156)"> Coffee & Tea </h2><br></i>
    <img src="https://post.healthline.com/wp-content/uploads/2020/08/coffee-worlds-biggest-source-of-antioxidants-1296x728-feature_0-732x549.jpg" width="300" height="200"><br><br>
    <h4 style="color:rgb(91, 81, 117)"> * Latte </h4><br>
    <h4 style="color:rgb(91, 81, 117)"> * Cappuccino </h4><br>
    <h4 style="color:rgb(91, 81, 117)"> * Espresso </h4><br>
    <h4 style="color:rgb(91, 81, 117)"> * Americano </h4><br>
    <h4 style="color:rgb(91, 81, 117)"> * Mocha </h4><br>
    <h4 style="color:rgb(91, 81, 117)"> * Caremel Macchiato </h4><br>
    <h4 style="color:rgb(91, 81, 117)"> * Light Coffee </h4><br><br>
</body></body>
</center>
</html>