<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <body style="background-color: rgb(184, 255, 222);">
</head>
<body><center>
    <br><br><br><i><ins><h1><a href="/drink"> Drink </a></h1></ins></i>
    <img src="https://post.healthline.com/wp-content/uploads/2020/08/coffee-worlds-biggest-source-of-antioxidants-1296x728-feature_0-732x549.jpg" width="300" height="200" border="5" ><br><br>
    
    <i><ins><h1 style="color: rgb(243, 70, 185);" ><a href="/bread"> Bread </a></h1></ins></i>
    <img src="https://food-images.files.bbci.co.uk/food/recipes/tiktok_breakfast_42301_16x9.jpg" width="300" height="200" border="5"><br><br>
    
    <i><ins><h1 style="color: rgb(226, 79, 255);" ><a href="/Food">  Food </a></h1></ins></i>
    <img src="https://hips.hearstapps.com/hmg-prod/images/homemade-spaghetti-sauce-horizontal-1530890913.jpg?crop=0.8890666666666666xw:1xh;center,top&resize=1200:*" width="300" height="200" border="5"><br><br>

</center>
</body></body>
</html>